p {
  padding: 10px;
}

.dotted {
  border-style: dotted;
}
.dashed {
  border-style: dashed;
}
.solid {
  border-style: solid;
}
.double {
  border-style: double;
}
.groove {
  border-style: groove;
}
.ridge {
  border-style: ridge;
}
.inset {
  border-style: inset;
}
.outset {
  border-style: outset;
}
.none {
  border-style: none;
}
.mix {
  /* 시계방향 : top right bottom left*/
  /* 갯수 부족하면 마주보는 선 모양 중복 */
  border-style: dotted dashed solid double;
}

.radius {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px 5px 20px 30px;
}
.circle {
  border-style: solid;
  border-width: 2px;
  width: 300px;
  height: 300px;
  font-size: 80px;
  text-align: center;
  /* vertical-align: middle; */
  line-height: 300px;
  border-radius: 50%;
}
